In [32]:
import pandas as pd

from tqdm.notebook import tqdm

## SNPs data

In [2]:
snps = pd.read_csv("../data/snps.csv")
snps.head()

,#chr,pos,variation,variant_type,snp_id,clinical_significance,validation_status,function_class,gene,frequency
0,15,67138395,T>A|C,snv,959504,benign,by-frequency;by-alfa;by-cluster,genic_upstream_transcript_variant;intron_variant,SMAD3,T:0.034345:172:1000Genomes|T:0.000259:1:ALSPAC...
1,15,67066140,G>A|C,snv,1061427,benign,by-frequency;by-alfa;by-cluster,5_prime_UTR_variant;genic_upstream_transcript_...,SMAD3;LOC102723493,A:0.223642:1120:1000Genomes|A:0.233783:901:ALS...
2,15,67164997,A>G|T,snv,1065080,likely-benign;benign,by-frequency;by-alfa;by-cluster,5_prime_UTR_variant;coding_sequence_variant;sy...,SMAD3,A:0.165935:831:1000Genomes|A:0.111572:430:ALSP...
3,15,67137885,T>A|C|G,snv,1866318,benign,by-frequency;by-alfa;by-cluster,genic_upstream_transcript_variant;intron_varia...,SMAD3,T:0.034345:172:1000Genomes|T:0.000259:1:ALSPAC...
4,15,67191959,C>G|T,snv,2278670,benign,by-frequency;by-alfa;by-cluster,3_prime_UTR_variant,SMAD3,T:0.252796:1266:1000Genomes|T:0.228075:879:ALS...

In [3]:
snps["gene"].unique()

array(['SMAD3', 'SMAD3;LOC102723493', 'gene'], dtype=object)

In [5]:
snps["#chr"].unique()

array(['15', '#chr'], dtype=object)

Even though it was quite obvious, after thses checks we can safely get rid of `gene` and `#chr` columns, since al the regions we're looking at are from **Smad3** gene that is located in the chromose **#15**.

In [6]:
snps = snps.drop(columns=["gene", "#chr"])

In [7]:
snps.describe()

,pos,variation,variant_type,snp_id,clinical_significance,validation_status,function_class,frequency
count,33601,33601,33601,33601,1108,29768,33600,29061
unique,30903,1080,6,31983,30,6,208,7896
top,pos,C>T,snv,snp_id,clinical_significance,by-frequency;by-alfa;by-cluster,genic_upstream_transcript_variant;intron_variant,T:0.000008:1:TOPMED|T:0.:0:ALFA
freq,658,5656,29443,658,658,13784,11572,1938

Now let's check the dataset for data types and look for `Nan` value to see if something needs some convertation.

In [18]:
snps.dtypes

pos                      object
variation                object
variant_type             object
snp_id                   object
clinical_significance    object
validation_status        object
function_class           object
frequency                object
dtype: object

In [27]:
snps.loc[snps["pos"] == "pos", "pos"] = "-1"

In [28]:
snps["pos"] = snps["pos"].astype(int)

In [29]:
snps.dtypes

pos                       int64
variation                object
variant_type             object
snp_id                   object
clinical_significance    object
validation_status        object
function_class           object
frequency                object
dtype: object

In [23]:
snps.isna().sum()

pos                          0
variation                    0
variant_type                 0
snp_id                       0
clinical_significance    32493
validation_status         3833
function_class               1
frequency                 4540
dtype: int64

One can see that we fixed the data type for the `pos` column and foud some `Nan` values in other column, howeverm they seem insignificant for now, so we won't bother about them right now.

## AREs data

In [10]:
ares = pd.read_csv("../data/ARESite2_motif.csv")
ares.head()

,Chromosome,Start,End,Motif,Motif-family,Strand,Gene,Transcript,Annotation,Type,Mean Acc Short,Mean Acc Long,TTP,HuR,Auf1
0,chr15,67190739,67190744,ATTTA,ATTTA,+,ENSG00000166949,ENST00000327367|ENST00000558763|ENST00000560402,Exon^3UTR|Exon|Intron,protein_coding|retained_intron|retained_intron,0.5544,0.5339,NaN,NaN,NaN
1,chr15,67190846,67190851,TTTTT,WTTTW,+,ENSG00000166949,ENST00000327367|ENST00000558763|ENST00000560402,Exon^3UTR|Exon|Intron,protein_coding|retained_intron|retained_intron,0.5955,0.5274,NaN,NaN,NaN
2,chr15,67190846,67190853,TTTTTTT,WWTTTWW,+,ENSG00000166949,ENST00000327367|ENST00000558763|ENST00000560402,Exon^3UTR|Exon|Intron,protein_coding|retained_intron|retained_intron,0.5974,0.5376,NaN,NaN,NaN
3,chr15,67190847,67190852,TTTTT,WTTTW,+,ENSG00000166949,ENST00000327367|ENST00000558763|ENST00000560402,Exon^3UTR|Exon|Intron,protein_coding|retained_intron|retained_intron,0.6029,0.5377,NaN,NaN,NaN
4,chr15,67190848,67190853,TTTTT,WTTTW,+,ENSG00000166949,ENST00000327367|ENST00000558763|ENST00000560402,Exon^3UTR|Exon|Intron,protein_coding|retained_intron|retained_intron,0.6031,0.5461,NaN,NaN,NaN

In [11]:
ares["Chromosome"].unique()

array(['chr15'], dtype=object)

In [12]:
ares = ares.drop(columns=["Chromosome"])

In [13]:
ares.describe()

,Start,End,Mean Acc Short,Mean Acc Long,TTP,HuR,Auf1
count,1.830000e+02,1.830000e+02,183.000000,183.000000,0.0,0.0,0.0
mean,6.719369e+07,6.719370e+07,0.570546,0.445738,NaN,NaN,NaN
std,9.827207e+02,9.832639e+02,0.099612,0.065839,NaN,NaN,NaN
min,6.719074e+07,6.719074e+07,0.386700,0.352100,NaN,NaN,NaN
25%,6.719369e+07,6.719370e+07,0.494200,0.378950,NaN,NaN,NaN
50%,6.719372e+07,6.719373e+07,0.566100,0.452500,NaN,NaN,NaN
75%,6.719450e+07,6.719451e+07,0.667150,0.484950,NaN,NaN,NaN
max,6.719515e+07,6.719516e+07,0.818700,0.752200,NaN,NaN,NaN

In [17]:
ares.dtypes

Start               int64
End                 int64
Motif              object
Motif-family       object
Strand             object
Gene               object
Transcript         object
Annotation         object
Type               object
Mean Acc Short    float64
Mean Acc Long     float64
TTP               float64
HuR               float64
Auf1              float64
dtype: object

In [30]:
ares.isna().sum()

Start               0
End                 0
Motif               0
Motif-family        0
Strand              0
Gene                0
Transcript          0
Annotation          0
Type                0
Mean Acc Short      0
Mean Acc Long       0
TTP               183
HuR               183
Auf1              183
dtype: int64

All the data types are okay and so are the `Nan` values (I mean their absence), so let's move on to comparing SNPs and AREs.

## Polymorphism in AREs search

In [37]:
def parse_variation(variation):
    divider = variation.find('>')
    starting_allele = variation[:divider - 1]
    polymorphed_alleles = tuple([ch for ch in variation[divider:].strip().split('|')])
    return starting_allele, polymorphed_alleles

In [38]:
are_with_snp = list()

for _, are in tqdm(ares.iterrows()):
    for _, snp in snps.iterrows(): 
        if are["Start"] <= int(snp["pos"]) <= are["End"]:
            pos = int(snp["pos"])
            if pos > 0:
                s_allel, poly_allels = parse_variation(snp["variation"])
                motif = are["Motif"]
                if s_allel != '-':
                    if motif[are["Start"] - pos:are["Start"] - pos + len(s_allel)] != s_allel:
                        print("! allele doesn't coinside with motif sequence")
                        continue
                alleles = s_allel
                for allele in poly_allels:
                    alleles += "/" + allele
                motif = motif[:are["Start"] - pos] + alleles + motif[are["Start"] - pos + len(s_allelallel):]

                are_with_snp.append((motif, are["Start"], are["End"]))

|          | 0/? [00:00<?, ?it/s]

KeyError: 'motif'